.card__item {
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  margin: 0;
}
.card__caption {
  padding: 14px;
  background: #ffffff;
}
.card__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 9px;
}

.card__btn {
  position: absolute;
  top: 19px;
  right: 14px;

  transition: opacity 1s ease;
}

.card__btn:hover {
  opacity: 0.6;
}

.card__btn-save {
  background-image: url("../../images/save-btn.jpg");
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.card__btn-save_active {
  background-image: url("../../images/save-btn-active.jpg");
}

.card__btn-remove {
  background-image: url("../../images/btn-remove.jpg");
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.card__duration {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

.card__image {
  width: 100%;
}
