.profile {
  background-color: #fafafa;
}

.profile__container {
  width: calc(100% - (2 * 30px));
  margin: 0 auto;
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__title {
  padding-top: 68px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  text-align: center;
  padding-bottom: 80px;
}

.profile__form {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 17px;
  display: grid;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}

.profile__form-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__form-field:last-of-type {
  border-bottom: none;
}

.profile__item-name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__form-input {
  text-align: end;
  border: none;
  background-color: #fafafa;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__form-input:focus {
  outline: none;
}

.profile__btn-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 16px;
   padding-bottom: 40px; 
}

.profile__btn {
  
  margin-top: 445px; 
  align-self: center;
  border: none;
  background-color: #fafafa;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: opacity 1s ease;
}

.profile__btn_disabled {
  color: #B8B8B8;
  pointer-events: none;
}

.profile__btn:hover {
  opacity: 0.6;
}

.profile__btn-logout {
  color: #ee3465;
  text-align: center;
  text-decoration: none;
  margin-top: 0;
  align-self: center;
  border: none;
  background-color: #fafafa;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: opacity 1s ease;
}


.profile__error {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

@media screen and (min-width: 768px) {
  .profile__container {
    width: calc(100% - (2 * 179px));
    justify-content: center;
  }

  .profile__title {
    padding-bottom: 96px;
    padding-top: 232px;
  }

  .profile__item-name {
    align-self: center;
  }
  .profile__btn {
    font-size: 13px;
    line-height: 16px;
     margin-top: 100px; 
 
  }
}

@media screen and (min-width: 1280px) {
  .profile__container {
    width: calc(100% - (2 * 435px));

    height: calc(100vh - 77px);
  }
  .profile__title {
    padding-bottom: 122px;
    padding-top: 72px;
  }

  .profile__item-name {
    align-self: center;
  }
}
