.promo {
    width: calc(100% - (2 * 14px));
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.promo__title {
    padding-top: 220px;
    padding-bottom: 212px;
    font-size: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: calc(37/29);
}

@media screen and (min-width: 768px) {
    .promo {
        width: calc(100% - (2 * 20px));
    }
    .promo__title {
        padding-top: 350px;
        padding-bottom: 314px;
        width: calc(100% - (2 * 24px));
        margin: 0 auto;
        font-size: 40px;
        line-height: calc(52/40);
    }
}

@media screen and (min-width: 1280px) {
    .promo {
        width: calc(100% - (2 * 40px));
    }
    .promo__title {
        font-size: 50px;
        width: calc(100% - (2 * 235px));
        
    }
}
